<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/tourComp.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <div class="logo"><a href="/" id="image"><img src="/pictures/logo.png" alt="Logo"></a></div>
                <li><a href="/admin">HOME</a></li>
                <li><a href="/admin/voucher">EXCURSIONS</a></li>
                <li><a href="/admin/add">ADD USER</a></li>
                <li class="login"><a href="/login/logout">LOG OUT</a></li>
                <div class="contact"><%= username %></div>
            </ul>
        </nav>
    </header>
    <main>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(comp => { %>
                        <tr>
                            <td>
                                <%= comp.name %>
                                <input type="hidden" name="comp_id"  value="<%=comp.id%>">
                             </td>
                            <td><%= comp.email %></td>
                            <td><%= comp.password %></td>
                            <td class="btns">
                                <button><a href="/admin/compEdit/<%= comp.id %>">EDIT</a></button>
                            </td>
                        </tr>
                    <% }); %>
            </tbody>
        </table>
    </main>
</body>
</html>