<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/walk-in.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <div class="logo"><a href="/" id="image"><img src="/pictures/logo.png" alt="Logo"></a></div>
                <li><a href="/admin">HOME</a></li>
                <li><a href="/admin/Scart">VIEW CART</a></li>
                <li class="login"><a href="/login/logout">LOG OUT</a></li>
                <div class="contact"><%= username %></div>
            </ul>
        </nav>
    </header>

    <main>
        <form action="/admin/booking" method="post" autocomplete="off">
            <div class="container">
                <div class="cust_name">
                    <label for="">Lead Name:</label>
                    <input type="text" name="ld_nm" placeholder="Customer Name" required>
                </div>
                <!-- <div class="origin"></div> -->
                </div>
                <div class="activities">
                    <label for="">Select Activities:</label>
                    <select name="act" multiple="multiple">
                        <% data.forEach(elem=> { %>
                            <option value="<%= elem.id %> "><%= elem.activity %> || $<%= elem.cost %>USD  </option>
                        <% }); %>
                    </select>
                    <p style="color:red;">Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>
                </div>
                <div class="quant">
                    <div class="qt1">
                        <label for="">Total Guest:</label>
                        <input type="number" name="quant" placeholder="Number of Guest" required>
                    </div>
                    <div class="qt2">
                        <label for="">Quantity per Activity:</label>
                        <input type="number" name="qt" placeholder="Number of Guest" required>
                    </div>                    
                </div>
                <div class="dates">
                    <div class="curr_dt">
                        <label for="">Current Date:</label>
                        <input type="date" name="curr_dt" required>
                    </div>
                    <div class="excur_dt">
                        <label for="">Excursion Date:</label>
                        <input type="date" name="excur_dt" required>
                    </div>
                </div>
                <div class="sub_btn">
                    <input type="submit" value="Book">
                </div>
            </div>
        </form>
    </main>
</body>
</html>