<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/wCart.css">
</head>
<body>

    <header>
        <nav>
            <ul>
                <div class="logo"><a href="/" id="image"><img src="/pictures/logo.png" alt="Logo"></a></div>
                <li><a href="/admin">HOME</a></li>
                <li class="login"><a href="/login/logout">LOG OUT</a></li>
                <div class="contact"><%= username %></div>
            </ul>
        </nav>
    </header>

    <main>
        
        <% data.forEach(excur => { %>

        <div class="itinerary">
             <div class="name">
                <p>Lead Guest: <%= excur.LeadGuest %></p>
                <input type="hidden" name="cust_nm" value="<%=excur.LeadGuest%>">
             </div>
             <div class="activities">
                <div class="act1">
                    <p>Activity 1: <%= excur.act%></p>
                </div> 
                <div class="act2">
                    <p>Activity 2: <%= excur.actB%></p>
                </div>
                <div class="act3">
                    <p>Activity 3: <%= excur.actC%></p>
                </div>
                <div class="act4">
                    <p>Activity 4: <%= excur.act4%></p>
                </div>
                <div class="act5">
                    <p>Activity 5: <%= excur.act5%></p>
                </div>
                <div class="act6">
                    <p>Activity 6: <%= excur.act6%></p>
                </div>
             </div>
             <div class="total">
                <p>Total Guest: <%= excur.TotalGuest%></p>
                <input type="hidden" name="t_guest" value="<%=excur.TotalGuest%>">
             </div>
             <div class="excurdt">
                <p>Excursion Date: <%= excur.ExcursionDate%></p>
                <input type="hidden" name="excur" value="<%=excur.ExcursionDate%>">
             </div>
             <div class="tCost">
                <p>Total Cost: $<%= excur.TotalCost %>USD </p>
             </div>
             <div class="stat">
                <p>Status: <%= excur.Status %> </p>
             </div>
             <div class="Vnum">
                <p>Voucher Number: <%= excur.Voucher %> </p>
             </div>
        </div>
        <% }); %>
<hr>
    </main>    
</body>
</html>